<div class="container">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <ul id="menuprincipal">
                    <li class="twelve column"><a class="navegar" href="templates/noticias.html"><i class="fa fa-newspaper-o" aria-hidden="true" style="color:#42BDD0"></i><span>Noticias</span></a></li>
                    <li class="twelve column"><a class="navegar" href="templates/restaurantes.html"><i class="fa fa-cutlery" aria-hidden="true" style="color:#DC805B"></i><span>Restaurantes</span></a></li>
                    <li class="twelve column"><a class="navegar" href="templates/antros-y-bares.html"><i class="fa fa-glass" aria-hidden="true" style="color:#6D79D4"></i><span>Antros y Bares</span></a></li>
                    <li class="twelve column"><a class="navegar" href="templates/descuentos.html"><i class="fa fa-money" aria-hidden="true" style="color:#42BDD0"></i><span>Descuentos</span></a></li>
                </ul>
            </div>